
.backdrop_path-img{
    width: 100%;
    height: 100vh;
    object-fit: cover;
    position: absolute;
    image-rendering:auto;
    z-index: -1;
}
.backdrop_path-curtain{
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.47);
}
.MovieInfo-poster_path{
    height: 500px;
    margin-top: 90px;
}
.MovieInfo-title{
    color: white;
    margin-left: 100px;
    font-weight: 700;
    margin-top: 90px;
}
.MovieInfo-tagline{
    color: silver;
    margin-left: 100px;
    margin-top: 30px;

}
.MovieInfo-overview{
    color: white;
    margin-left: 100px;
    font-size: 25px;
}
.MovieInfo-desc{
    margin-left: 100px;
    color: white;
}