.navbar {
  background: var(--bgColor);
  width: 100%;
  height: 60px;
  user-select: none;
}
.navStiky {
  position: sticky;
  z-index: 9999;
  top: 0;
}
.logotype {
  width: 155px;
  margin-left: 40px;
  user-select: none;
}
.navbar-ul {
  z-index: 2;
  position: absolute;
  display: flex;
  gap: 25px;
  list-style: none;
  font-weight: 600;
  color: white;
  margin-top: 35px;
  height: 40px;
}
.navbar-ul-li:hover .navbar-ul-ul {
  display: block;
  border: 1px solid silver;
}
.navbar-ul-li:hover .navbar-ul-ul2 {
  display: block;
  border: 2px solid silver;
}
.navbar-ul-ul {
  border-radius: 5px;
  position: absolute;
  display: none;
  flex-direction: column;
  background: white;
  color: black;
  width: 200px;
  top: 35px;
  height: 150px;
  list-style: none;
}
.navbar-ul-ul li {
  margin-top: 7px;
}
.navbar-ul-ul2 li {
  margin-top: 10px;
}
.navbar-ul-ul2 {
  border-radius: 5px;
  position: absolute;
  display: none;
  flex-direction: column;
  background: white;
  color: black;
  width: 200px;
  top: 35px;
  height: 50px;
  list-style: none;
}
.Language_button {
  width: 27px;
  height: 27px;
  border: 1px solid white;
  background-color: var(--bgColor);
  color: white;
  border-radius: 5px;
  transition: 0.3s;
  margin-top: 5px;
}
.Language_button:hover {
  color: black;
  background-color: white;
  transition: 0.2s;
}
.btn-flexing {
  display: flex;
  gap: 2rem;
}
.navbar-ul2 {
  position: absolute;
  right: 100px;
  display: flex;
  list-style: none;
  color: white;
}
.navbar-ul2 i {
  margin-top: 10px;
  font-size: 17px;
}
.favourite {
  margin-top: 10px;
  transition: 0.3s;
}
.favourite:hover {
  background-color: #032541;
  color: white;
  transition: 0.3s;
}
.favourite:hover .favourite-count {
  color: #032541;
  background-color: white;
}

.favourite-title {
  color: #000;
  color: #a4a4a4;
  padding-left: 30px;
  font-weight: 500;
}
.favourite:hover .favourite-title {
  color: white;
}
.navbar-settings-open {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #01b4e4;
  font-weight: 600;
}
.navbar-settings-close {
  position: absolute;
  width: 178px;
  height: auto;
  border: 1px solid silver;
  border-radius: 5px;
  background-color: white;
  padding: 10px 0px;
  top: 40px;
  right: -40px;
}
.navbar-settings-close-name {
  color: black;
  font-weight: 600;
  padding-left: 30px;
}
.navbar-settings-close-view-profile {
  color: #a4a4a4;
  font-weight: 400;
  font-size: 14px;
  margin-top: -11px;
  padding-left: 30px;
}
.navbar-setting-close-hr {
  width: 100%;
  border-bottom: 1px solid #dedfdf;
  color: silver;
}
.favourite-count {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  color: white;
  background-color: #032541;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3px;
  margin-left: 20px;
}
